<!-- Snow 3D -->

<script type="text/javascript" src="{$wa_app_static_url}plugins/newyearsnow/js/Three.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/newyearsnow/js/Snow.js"></script>
<script type="text/javascript">
    var particleImage = new Image();
    particleImage.src = '{$wa_app_static_url}plugins/newyearsnow/img/ParticleSmoke.png';
</script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/newyearsnow/js/SnowInit.js"></script>

<!-- Snow 3D -->